* {
  padding: 0;
  margin: 0;
}
nav {
  background-color: #170f11;
  box-shadow: 3px 3px 5px black;
}
nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #170f11;
}
nav li {
  height: 50px;
}
nav a {
  height: 100%;
  padding: 0 15px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
}
nav a:hover {
  background-color: #2d1e22;
}
nav li:first-child {
  margin-right: auto;
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: grey;
  backdrop-filter: blur(90%);
  box-shadow: -10px 0 10px black;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li {
  width: 100%;
}
.sidebar a {
  width: 100%;
}
.menu-button {
  display: none;
}
@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
  .meme {
    width: 90%;
  }
}
@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
  .meme {
    width: 100%;
  }
}
.nav {
  width: 5%;
  background-color: grey;
}
.nav .ul .li {
  position: relative;
}
.nav .ul {
  width: 150%;
  box-shadow: 3px 3px 5px black;
}
.nav .ul .li .link {
  display: block;
  color: white;
  font-size: 14px;
  height: 50%;
  width: 60%;
  padding-top: 14px;
  text-decoration: none;
}

.nav .ul .li .link:hover {
  background-color: #2d1e22;
}

.nav .ul .li .ul {
  display: none;
  position: absolute;
  background-color: #170f11;
  border-radius: 0px 0px 4px 4px;
}

.nav .ul .li:hover .ul {
  display: block;
}

.nav .ul .li .ul .li .link {
  padding: 8px 14px;
}

.nav .ul .li .ul .li {
  border-radius: 4px;
}

.nav .ul .li .ul .li .link:hover {
  background-color: #2d1e22;
}
.nav-seller-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.user_card {
  width: 350px;
  margin-top: auto;
  margin-bottom: auto;
  background: #5c164e;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.form_container {
  margin-top: 20px;
}

#form-title {
  color: #fff;
}
.login_btn {
  width: 100%;
  background: #9b287b !important;
  color: white !important;
}
.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.login_container {
  padding: 0 2rem;
}
.input-group-text {
  background: #f7ba5b !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
#messages {
  background-color: grey;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
}
.d-flex {
  display: flex;
  justify-content: center;
}
.profile-pic {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}
.product {
  width: 50%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  padding: 3%;
  background-color: #9b287b;
  border-radius: 4%;
}
.all-products {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(1, 100%);
}
.product-img {
  border-radius: 5%;
  width: 100%;
  display: flex;
  align-self: center;
  margin-bottom: 2%;
}
.product-profile-pic {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
}
.product-creation-info {
  display: flex;
  justify-content: start;
  margin-bottom: 1%;
}
.product-name {
  color: white;
}
.product-text {
  color: white;
}
.products-hold {
  display: flex;
  justify-content: center;
}
.all-products {
  width: 70%;
  display: flex;
  justify-content: center;
  /* display: grid;
    grid-template-columns: repeat(3, 30%); */
}
.product-img {
  border-radius: 5%;
  width: 100%;
  display: flex;
  align-self: center;
  margin-bottom: 2%;
}
.profile-hold {
    display: flex;
    justify-content: center;
    margin: 1%;
    text-align: center;
  }
  .page-title{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
  }