{%extends 'nav.html'%} {%block content%}
<div class="row">
  <div class="col-md">
            {%if request.user.id == seller.id%}
            <nav class="nav">
              <ul class="ul">
              <li class="li">
                <a class="link" href="#">...</a>
                <ul class="ul">
            <li class="li">
            <a
              class="link"
              href="{% url 'edit-profile' user.id%}"
              >Edit Profile</a
            >
          </li>
          <li class="li">
            <a
              class="link"
              href="{% url 'logout'%}"
              >Logout</a
            >
          </li>
          <li class="li">
            <a
              class="link"
              href="{% url 'self-user-delete' user.id %}"
              >Delete Profile</a
            >
          </li>
          {%endif%}
        </ul>
      </ul>
      </li>
    </nav>
      <div class="profile-hold">
        <div class="profile-cluster">
          <div class="profile-pic-holder">
            <img class="profile-pic" src="{{seller.img.url}}" />
          </div>
          <p class="profile-name">{{seller.name}}</p>
        </div>
      </div>
      {%block products%}
      {%if products%}
      <h1 class="page-title">Items</h1>
      <div class="products-hold">
        <div class="all-products">
          {% for product in products%}
          <div class="product">
            <div class="product-creation-info">
                <a href="{% url 'view-product' product.id%}"><img src="{{product.img.url}}" class="product-img"/></a>
            </div>
            <p class="product-name">{{product.name}}</p>
            {% comment %} <p class="product-text">{{product.desc}}</p> {% endcomment %}
            {%if request.user.id == seller.id%}
            <a class="delete-button" href="{% url 'delete-product' product.id %}"
              >Delete</a
            >
            {%endif%}
          </div>{%endfor%}
        </div>
      </div>
      {%else%}
      <h2 class="page-title">There are no listed items.</h2>
      {%endif%}
      {%endblock%}
    </div>
  </div>
  {%endblock%}
</div>