{%extends 'nav.html'%} {%block content%}

<div class="product-details">
  <div class="product-img-hold">
    <img class="product-view-img" src="{{product.img.url}}" />
  </div>
  <div class="product-details-hold">
    <div class="product-seller-hold">
      <a href="{% url 'profile' product_seller_id%}"
        ><img
          class="product-view-seller-img"
          src="{{product.seller.img.url}}" /></a
      ><span style="margin: 2%"
        ><a
          style="text-decoration: none; color: #5c164e"
          href="{% url 'profile' product_seller_id%}"
          >{{product.seller.name}}</a
        ></span
      >
    </div>
    <h1 class="product-view-name">{{product.name}}</h1>
    <h2 class="product-view-desc">{{product.desc}}</h2>
    <div class="buy-hold">
      {{payment_link.url}}
      <button class="payment_button">
        <a href="https://buy.stripe.com/test_bIYg1XaMCf0b5A43e2" target="_blank" class="link"
          >Payment</a
        >
      </button>
    </div>
  </div>
  {%endblock%}
</div>
