{%extends 'nav.html'%} {%block content%}

<div class="product-details">
  <div class="product-img-hold">
    <img class="product-view-img" src="{{product.img.url}}" />
  </div>
  <div class="product-details-hold">
    <div class="product-seller-hold">
      <a href="{% url 'profile' product.seller.user.id%}"
        ><img
          class="product-view-seller-img"
          src="{{product.seller.img.url}}" /></a
      ><span style="margin: 2%"
        ><a
          style="text-decoration: none; color: #5c164e"
          href="{% url 'profile' product.seller.user.id%}"
          >{{product.seller.name}}</a
        ></span
      >
    </div>
    <h1 class="product-view-name">{{product.name}}</h1>
    <h2 class="product-view-desc">{{product.desc}}</h2>
    <div class="buy-hold">
      <button class="payment_button" ><a href="{{payment_link.url}}" class="link">Payment</a></button>
    </div>
  </div>
  {%endblock%}
</div>
